body {
  background-color: #EEEEEE !important;
  color: white !important;
}

header * {
  display: inline;
}

header ul {
  margin-bottom: 0;
}

header {
}

.table {
  margin-top: 5vh !important;
  width: 50vw !important;
  margin-left: 25vw !important;
  margin-bottom: 15vh !important;
  color: black !important;
}

header img {
  height: 50px;
  margin-left: 3vw;
}

.jakeSossImg {
  position: absolute;
  width: 100px;
  z-index: 100;
}

.btn-outline {
  color: white;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn-outline {
  color: white;
  font-weight: bold;
  border-radius: 0;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  border-color: none !important;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

